body {
  padding: 0;
  margin: 0;
  background-color: #181a1b;
  color: #d1cdc7;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  
}

#screen {
  border-style: solid;
  border-color: aqua;
  width: 80%;
  align-self: center;

}

#calculator {
  border-style: solid;
  border-color: white;
  display: grid;
  align-self: center
  
}



